@charset "utf-8";
body{
    background-color: rgb(176, 200, 216);
}
header{
    background-color: rgb(56, 192, 189);
}
h3{
    color: green;
    font-weight: bold;
}
#bold {
    font-weight: bold;
}
p{
    font-size: 20px;
}
a:hover {
    font-size: 30px;
    color: brown;
}
footer {
    font-size: 10px;
    color: grey;
    text-align: right;
}