{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <h2>データの追加だけ行うページ</h2>
    <form action="/addReceipt" method="POST">
        <label for="name">日付</label>
        <input name="name"></input>

        <label for="mail">場所</label>
        <input name="mail"></input>

        <label for="name">商品名</label>
        <<input type="number" name="year" min="0">

        <label for="department">個数</label>
        <input name="department"></input>
        
        <label for="year">原価</label>
        <input type="number" name="year" min="0">

        <label for="year">売値</label>
        <input type="number" name="year" min="0">

        <label for="name">購入者</label>
        <input type="number" name="year" min="0">

        <button type="submit" class="btn btn-primary">従業員追加</button>
    </form>
</div>
{% endblock %}

